body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
.container {
	background-color: #fbd1d3;
	padding: 3rem;
	border-radius: 1rem;
	border: 3px solid #766dc1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
form.form {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 1rem;
	column-gap: 3rem;
	justify-content: center;
	align-items: center;
  }
  
label {
	font-weight: bold;
  }
